{% extends 'base.html' %}


{% block titulo %}
    CRUD Flujo
{% endblock titulo %}
    
{% block contenido %}
  {% load static %}
  
  <link rel="stylesheet" href="{% static 'css/estilo/BGcrud.css' %}">

  <div class="cajon">

    <div class="cartas-principales">
      
      <div class="carta-principal">
        <a href="{% url 'AppWebHome:crearFlujo' %}" class="button button-1">
              <img id="img-icono" src="/static/img/iconos app/editarFlujos.png" alt="#"><br><br>Crear Nuevo Flujo
        </a>
      </div>
      
      <div class="carta-principal">
        <a href="{% url 'AppWebHome:verFlujos' %}" class="button button-1">
              <img id="img-icono" src="/static/img/iconos app/verFlujos.png" alt="#"><br><br>Ver Flujos
          </a>
      </div>
          
    </div>
    
  </div>
  
  <!-- <script src="{% static 'js/funciones/botonAnimado.js'%} "></script> -->
{% endblock contenido %}
    