{% extends 'base.html' %}

{% block titulo %}
    Ver Flujos
{% endblock titulo %}

{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/estilo/BGcrud.css' %}">

<div class="cajon">

    <div class="caja-arriba">

        <div class="tabla-tareas">

            <div class="cabecera">

                <h2>Flujos hasta la fecha: {{ fechaActual }}</h2> 

            </div>
            <div class="row">

                <div class="cartas-principales">
                {% for f in flujos %}

                    <div class="carta-principal">
                            <a href="{% url 'AppWebHome:detalleFlujo' f.id_flujo %}" class="card">
                                <p class="cabecera-card">ID: {{ f.id_flujo }}</p>
                                <div class="contenido-card">
                                    <textarea rows="2" cols="25" style="resize: none; cursor:pointer; font-size: 20px; text-align: center; font-family: monospace;" readonly>{{ f.nombre_flujo }}</textarea>
                                </div>
                                <p class="pie-card">
                                    
                                    {% if f.estado_id_estado.estado == "Completado" %}
                                        <img src="/static/img/iconos app/completado.png" alt="" id="img-icono-2">
                                    {% elif f.estado_id_estado.estado == "Inactivo" %}
                                        <img src="/static/img/iconos app/inactivo.png" alt="" id="img-icono-2">
                                    {% elif f.estado_id_estado.estado == "En Proceso" %}
                                        <img src="/static/img/iconos app/enproceso.png" alt="" id="img-icono-2">


                                    {% endif %}
                                        
                                </p>
                            </a>

                    </div>
                    
                    
                {% endfor %}
                </div>

            </div>

        </div>

    </div>

    <div class="caja-abajo">

        {% include 'includes/pagination.html' %}

    </div>

</div>


{% endblock contenido %}