{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Home
{% endblock titulo %}

{% block contenido %}
<style>
    .main, body {
        background-image: url('/static/img/fondobombilla.jpg');
        background-size: 100% 100%;
    }

    @media only screen and (min-width: 46.875em){
        .grid-container {
            grid-template-columns: 0px 1fr;
            grid-template-rows: 0px 1fr 0px;
        }
    }
    .header, .footer {
        display: none;
    }
    .grid-container {
        grid-template-columns: 0 1fr;
        grid-template-rows: 0px 1fr 0px;
    }
    .sidenav{
        width: 0px;
    }
    .cartas-principales {
        margin: 0px;
    }
    .caja-arriba{
        justify-content: left;
    }
</style>
<div class="cajon">
    
    <div class="caja-arriba">

        <a href="{% url 'AppWebHome:home' %}">
            <img src="/static/img/Logo-ProcessSA.png" alt="Logo de Process SA" width="400px">
        </a>

    </div>
    
    <div class="cartas-principales">
    
        <div class="carta-principal">
            <a href="{% url 'AppWebHome:login' %}" class="button button-1">
                <img src="/static/img/iconos/usuario.png" alt="imagen de usuario" id="img-icono">
                <br>
                Iniciar Sesión
            </a>
        </div>
    
    </div>
</div>


{% endblock contenido %}