
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>

    <link rel="stylesheet" href="{% static 'css/estilo/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo/crear.css' %}">
    <link rel="stylesheet" href="{% static 'css/prueba/prueba.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo/cartas.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo/botones.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo/unicos.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/prueba/prueba.scss' %}"> -->
  </head>
  <body>

    <div class="grid-container">
      {% include 'includes/sidenav.html' %}
      {% include 'includes/header.html' %}
      
      <main class="main">
        <div class="main-header">
          <div class="main-header__heading">¡Hola {{ user.persona_id_persona.nombres }}!</div>
          
          <div class="main-header__updates">Recent Items</div>
        </div>
        
        <div class="main-overview">
          <div class="overviewcard">
            <div class="overviewcard__icon">Overview</div>
            <div class="overviewcard__info">Card</div>
          </div>
          <div class="overviewcard">
            <div class="overviewcard__icon">Overview</div>
            <div class="overviewcard__info">Card</div>
          </div>
          <div class="overviewcard">
            <div class="overviewcard__icon">Overview</div>
            <div class="overviewcard__info">Card</div>
          </div>
          <div class="overviewcard">
            <div class="overviewcard__icon">Overview</div>
            <div class="overviewcard__info">Card</div>
          </div>
        </div>
        
        <div class="cartas-principales">
          <div class="carta-principal">carta-principal
            <a href="{% url 'AppWebHome:crudFlujo' %}" class="button button-2">
              <img src="/static/img/iconos/flujo.png" alt="imagen de usuarios" id="img-icono">
              <br>
              CRUD Flujos
            </a>
          </div>
          <div class="carta-principal">carta-principal
            <a href="{% url 'AppWebHome:crudFlujo' %}">
              <div class="button button-2">
                <img src="/static/img/iconos/flujo.png" alt="imagen de usuarios" id="img-icono">
                <br>
                CRUD Flujos
              </div>
            </a>
          </div>

        </div>
      </main>
      
      {% include 'includes/footer.html' %}

    </div>
    
    <script>
      const menuIconEl = $('.menu-icon');
      const sidenavEl = $('.sidenav');
      const sidenavCloseEl = $('.sidenav__close-icon');

      // Add and remove provided class names
      function toggleClassName(el, className) {
        if (el.hasClass(className)) {
          el.removeClass(className);
        } else {
          el.addClass(className);
        }
      }

      // Open the side nav on click
      menuIconEl.on('click', function() {
        toggleClassName(sidenavEl, 'active');
      });

      // Close the side nav on click
      sidenavCloseEl.on('click', function() {
        toggleClassName(sidenavEl, 'active');
      });
    </script>

  </body>
</html>