{% extends 'base.html' %}

{% block titulo %}
    CRUD Usuario
{% endblock titulo %}


{% block contenido %}
{% load static %}

  <link rel="stylesheet" href="{% static 'css/estilo/BGcrud.css' %}">

  <div class="cajon">

      <div class="cartas-principales">
        
        <div class="carta-principal">
          <a href="{% url 'AppWebHome:crearUsuario' %}" class="button button-1">
                <img id="img-icono" src="/static/img/iconos app/crearUsuario.png" alt="#"><br><br>Crear Nuevo Usuario
          </a>
        </div>
        
        <div class="carta-principal">
          <a href="{% url 'AppWebHome:verUsuarios' %}" class="button button-1">
                <img id="img-icono" src="/static/img/iconos app/empleados1.png" alt="#"><br><br>Ver Usuarios
            </a>
        </div>
            
      </div>
      
  </div>

  <!-- <script src="{% static 'js/funciones/botonAnimado.js'%} "></script> -->

{% endblock contenido %}
    