{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Crear Tarea
{% endblock titulo %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'css/estilo/BGcrud.css' %}">

<div class="cajon">
    <a href="{% url 'AppWebHome:crudTarea' %}" style="position:absolute; top:0; right:0;">
        <img class="btn-cerrar-1"id="img-icono-2" src="/static/img/iconos app/volveer.png" alt="imagen para cerrar">
    </a>
    <div class="caja-arriba">
        <div class="tarjeta-form">
            <div class="tarjeta-titulo"><h2>Crear nueva tarea</h2></div>
            <form method="POST" id="formulario-tarea"> {% csrf_token %}
                <div class="tarjeta-texto">
                    <table style="padding: 21px 5%;">
                        <tbody>
                            <tr>
                                <td>ID:</td>
                                <td><input type="number" placeholder="Se registra automáticamente." readonly></td>
                            </tr>
                            <tr>
                                <td>Nombre Tarea: </td>
                                <td>{{form.tarea}}</td>
                            </tr>
                            <tr>
                                <td>Descripción</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{form.descripcion}}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Inicio: </td>
                                <td>Fecha de Plazo: </td>
                            </tr>
                            <tr>
                                <td>{{form.fecha_inicio}}</td>
                                <td>{{form.fecha_plazo}}</td>
                            </tr>
                            <tr>
                                <td>ID Persona Asignada:</td>
                                <td><select name="id_usuario" class="form-control" required id="id_usuario" onchange="changeFunc();">
                                    <option value selected>- Seleccionar ID -</option>
                                    {% for u in usuarios %}
                                        
                                        {% if u.rol_id_rol.rol != 'Administrador' and u.rol_id_rol.rol != 'Diseñador de Procesos' %}

                                            {% if user.rol_id_rol.rol == 'Funcionario' and user.jerarquia_id_jerarquia.jerarquia == 'Funcionario' %}

                                                {% if u.jerarquia_id_jerarquia.jerarquia != 'Gerente' and u.jerarquia_id_jerarquia.jerarquia != 'Funcionario' %}
                                                    <option value="{{ u.id_usuario }}|{{ u.nombres }}">{{u.id_usuario}} - {{u.usuario}}</option>
                                                {% endif %}

                                            {% else %}

                                                <option value="{{u.id_usuario}}">{{u.id_usuario}} - {{u.usuario}}</option>

                                            {% endif %}

                                        {% endif %}
                                            
                                    {% endfor %}
                                </select></td>
                            </tr>
                            <tr>
                            
                                <td>ID Flujo Asignado:</td>
                                <td><select name="flujo_id_flujo" class="form-control" id="flujo_id_flujo">
                                    <option value selected>- Seleccionar ID -</option>
                                    {% for f in flujos %}
                                        <option value="{{f.id_flujo}}">{{f.id_flujo}} - {{f.nombre_flujo}}</option>
                                    {% endfor %}
                                </select></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="tarjeta-botones">
                    <button onclick="limpiarCampos()" type="button" class="stat left">
                        <img id="img-icono-2" src="/static/img/iconos app/polvo.png" alt="imagen para limpiar campos">
                        <div class="valor">Limpiar</div>
                    </button>
                    <button onclick="crearTarea()" type="button" class="stat border">
                        <img src="/static/img/iconos app/creaar.png" alt="imagen para crear" id="img-icono-2">
                        <div class="valor">Agregar</div>
                    </button>
                    <a href="{% url 'AppWebHome:verTareas' %}?page=1">
                        <div class="stat right">
                            <img id="img-icono-2" src="/static/img/iconos app/tareas.png" alt="imagen para ver tareas">
                            <div class="valor">Ver tareas</div>
                        </div>
                    </a>
                    
                </div>
            </form>
        </div>
        <div id="prueba">
            <div class="tarjeta">
               <div class="tarjeta-imagen"></div>
               <div class="tarjeta-texto">
                  <span class="date">12345678-9</span>
                  <h2>Usuario</h2>
                  <p>Correo: correo@email.com</p>
                  <p>Celular: +56987654321</p>
                  <p>Unidad: unidad</p>
                  <p>Jerarquía: jerarquía</p>
                  <p>Rol: rol</p>
               </div>
               <div class="tarjeta-stats">
                  <div class="stat left">
                     <div class="value">Cantidad</div>
                     <div class="type">Tareas</div>
                  </div>
                  <div class="stat border">
                     <div class="value">Cantidad</div>
                     <div class="type">Subordinados</div>
                  </div>
                  <div class="stat right">
                     <div class="value">Cantidad</div>
                     <div class="type">Flujos</div>
                  </div>
               </div>
            </div>
         </div>
        
        <script type="text/javascript">

            function changeFunc() {
                var selectBox = document.getElementById("id_usuario");
                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                // alert(selectedValue) // alerta para verificar que obtiene el id del usuario
                document.getElementById("prueba").innerHTML =   '{% for u in usuarios %}'+
                                                                    '{% with iduserid=7 %}'+
                                                                        '{% if u.id_usuario == iduserid %}'+
                                                                            '<div class="tarjeta">'+
                                                                                '<div class="tarjeta-imagen"></div>'+
                                                                                '<div class="tarjeta-texto">'+
                                                                                    '<span class="date">{{ u.rut }}</span>'+
                                                                                    '<h2>{{ u.usuario }}</h2>'+
                                                                                    '<p>Correo: {{ u.correo }}</p>'+
                                                                                    '<p>Celular: {{ u.celular }}</p>'+
                                                                                    '<p>Unidad: {{ u.unidad_id_unidad.unidad }}</p>'+
                                                                                    '<p>Jerarquía: {{ u.jerarquia_id_jerarquia.jerarquia }}</p>'+
                                                                                    '<p>Rol: {{ u.rol_id_rol.rol }}</p>'+
                                                                                '</div>'+
                                                                                '<div class="tarjeta-stats">'+
                                                                                    '<div class="stat left">'+
                                                                                        '<div class="value">4<sup>m</sup></div>'+
                                                                                        '<div class="type">Tareas</div>'+
                                                                                    '</div>'+
                                                                                    '<div class="stat border">'+
                                                                                        '<div class="value">5123</div>'+
                                                                                        '<div class="type">Subordinados</div>'+
                                                                                    '</div>'+
                                                                                    '<div class="stat right">'+
                                                                                        '<div class="value">32</div>'+
                                                                                        '<div class="type">Flujos</div>'+
                                                                                    '</div>'+
                                                                                '</div>'+
                                                                            '</div>'+
                                                                        '{% endif %}'+
                                                                    '{% endwith %}'+
                                                                '{% endfor %}';

            }
            
            function limpiarCampos() {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Al limpiar los campos, los datos ingresados se perderán para siempre :(.',
                    icon: 'warning',
                    showDenyButton: true,
                    denyButtonText: 'Si, limpiar',
                    confirmButtonText: 'No, cancelar',
                }).then((result) => {
                    if (result.isDenied) {
                        Swal.fire(
                            '¡Limpio!',
                            'Los campos del formulario están en blanco."',
                            'success'
                        )
                        setTimeout(function(){ window.location.href = "{% url 'AppWebHome:crearTarea' %}"; }, 1500);
                    } else if (result.isConfirmed) {
                        Swal.fire(
                            'Cancelado',
                            'Los campos del formulario están a salvo :)',
                            'error'
                        )
                    }
                })
            }

            function crearTarea() {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Estás a punto de crear una nueva tarea.',
                    icon: 'warning',
                    showDenyButton: true,
                    confirmButtonText: 'Si, crear',
                    denyButtonText: `No, cancelar`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            '¡Guardado!',
                            'Se ha creado una nueva tarea.',
                            'success'
                        )
                        setTimeout(function(){ document.forms["formulario-tarea"].submit(); }, 1500);
                    } else if (result.isDenied) {
                        Swal.fire(
                            'Cancelado',
                            'No se ha creado nada.',
                            'info'
                        )
                    }
                })
            }

        </script>
    </div>
    <div class="caja-abajo">
        <div class="tarjeta-tabla" style="grid-template-columns: 100%;">
  
            <div class="tarjeta-tabla-titulo"><h1>Flujos</h1></div>
    
            <div class="tarjeta-tabla-texto" style="padding: 5px 5%; overflow-y: scroll;">
    
                <table cellpadding="0" cellspacing="0" border="0">
        
                    <thead>
                        <tr>
                            <!-- <th class="checkbox"></th> -->
                            <th class="ID">ID</th>
                            <th class="Nombre">Nombre</th>
                            <th class="Descrip">Descripción</th>
                            <th class="Estado">Estado</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for flujo in flujos %}
                            <tr>
                                <!-- <td class="checkbox"><input type="radio" name="flujo"></td> -->
                                <td class="ID">{{flujo.id_flujo}}</td>
                                <td class="Nombre">{{flujo.nombre_flujo}}</td>
                                <td class="Descrip">{{flujo.descripcion}}</td>
                                <td class="Estado">{{flujo.estado_id_estado.estado}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
    
                </table>
  
            </div>
  
        </div>
  
    </div>
  
</div>
  
  {% endblock contenido %}