{% extends 'base.html' %}

{% block titulo %}
    CRUD Tarea
{% endblock titulo %}
    
{% block contenido %}
  {% load static %}
  <div class="cajon">

    <div class="cartas-principales">
      
      <div class="carta-principal">
        <a href="{% url 'AppWebHome:crearTarea' %}" class="button button-1">
          <!-- <div class="add-product-1" id="add-product-1">
            <div class="button-copy-1" id="btn-copy-1"> -->
              <img id="img-icono" src="/static/img/iconos/nuevaTarea.png" alt="#"><br><br>Crear Nueva Tarea
            <!-- </div>
          </div> -->
        </a>
      </div>
      
      <div class="carta-principal">
        <a href="{% url 'AppWebHome:verTareas' %}?page=1" class="button button-2">
          <!-- <div class="add-product-2" id="add-product-2">
            <div class="button-copy-2" id="btn-copy-2"> -->
              <img id="img-icono" src="/static/img/iconos/tarea.png" alt="#"><br><br>Ver Tareas
            <!-- </div>
          </div> -->
          </a>
      </div>
          
    </div>
    
  </div>
        
  <!-- <script src="{% static 'js/funciones/botonAnimado.js'%} "></script> -->
{% endblock contenido %}
    