{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Tarea: {{ tarea.tarea }}
{% endblock titulo %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'css/estilo/BGcrud.css' %}">

<div class="cajon">
    <a href="{% url 'AppWebHome:verTareas' %}?page=1" style="position:absolute; top:0; right:0;">
        <img class="btn-cerrar-1"id="img-icono-2" src="/static/img/iconos/cerrar.png" alt="imagen para cerrar">
    </a>
    <div class="caja-arriba">
            
        <div class="tarjeta-form">
            <div class="tarjeta-titulo sbg-{% if dd >= 7 %}verde{% elif dd < 7 and dd >= 0 %}amarillo{% else %}rojo{% endif %}">
                    <textarea name="" id="" cols="30" rows="2" style="resize: none; border: 0px;font-size: 24px; text-align: center; font-family: monospace; width: 330px; height: 55px; margin-top: 5px;color: white; background-color: rgba(255, 255, 255, 0);" readonly>{{ tarea.tarea }}</textarea>
            </div>
            <form method="POST" id="formulario-tarea" action="{% url 'AppWebHome:editarTarea' %}"> {% csrf_token %}
                <div class="tarjeta-texto">
                    <table style="padding: 21px 5%;">
                        <tbody>
                            <tr>
                                <td>ID:</td>
                                <td><input type="number" name="id_tarea" id="id_tarea" value="{{ tarea.id_tarea }}"readonly></td>
                            </tr>
                            <tr>
                                <td>Nombre Tarea: </td>
                                <td><input type="text" name="tarea" id="tarea" value="{{ tarea.tarea }}"></td>
                            </tr>
                            <tr>
                                <td>Descripción</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2"><textarea name="descripcion" id="descripcion" cols="43" rows="4" style="resize:none; font-family:monospace;">{{ tarea.descripcion }}</textarea></td>
                            </tr>
                            <tr>
                                <td>Fecha de Inicio: </td>
                                <td>Fecha de Plazo: </td>
                            </tr>
                            <tr>
                                <td><input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ tarea.fecha_inicio|date:'Y-m-d' }}"></td>
                                <td><input type="date" name="fecha_plazo" id="fecha_plazo" value="{{ tarea.fecha_plazo|date:'Y-m-d' }}"></td>
                            </tr>
                            <tr>
                                <td>ID Persona Asignada:</td>
                                <td><select name="id_usuario" class="form-control" required id="id_usuario">
                                    <option value="{{ tarea.usuario_id_usuario.id_usuario }}" selected>- {{ tarea.usuario_id_usuario.id_usuario }} - {{ tarea.usuario_id_usuario.nombres }}-</option>
                                    {% for u in usuarios %}
                                        <option value="{{u.id_usuario}}">{{u.id_usuario}} - {{u.usuario}}</option>
                                    {% endfor %}
                                </select></td>
                            </tr>
                            <tr>
                                <td>ID Flujo Asignado:</td>
                                <td><select name="flujo_id_flujo" class="form-control" id="flujo_id_flujo">
                                    <option value="{{ tarea.flujo_id_flujo.id_flujo }}" selected>- {{ tarea.flujo_id_flujo.id_flujo }} - {{ tarea.flujo_id_flujo.nombre_flujo }} -</option>
                                    {% for flujo in flujos %}
                                        <option value="{{flujo.id_flujo}}">{{flujo.id_flujo}} - {{flujo.nombre_flujo}}</option>
                                    {% endfor %}
                                </select></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tarjeta-botones sbg-{% if dd >= 7 %}verde{% elif dd < 7 and dd >= 0 %}amarillo{% else %}rojo{% endif %}">
                    
                    <button onclick="deshacerCambios()" type="button" class="stat left">

                        <img id="img-icono-2" src="/static/img/iconos app/deshacer.png" alt="imagen para deshacer">
                        <div class="valor">Deshacer</div>

                    </button>

                    <button onclick="actualizarTarea()" type="button" class="stat border">

                        <img id="img-icono-2" src="/static/img/iconos app/actualizar.png" alt="imagen para actualizar">
                        <div class="valor">Actualizar</div>

                    </button>

                    <button onclick="borrarTarea()" type="button" class="stat right">

                        <img id="img-icono-2" src="/static/img/iconos app/eliminar.png" alt="imagen para borrar">
                        <div class="valor">Borrar</div>

                    </button>

                </div>

            </form>

            <script>

                function deshacerCambios() {
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Al deshacer los cambios, los datos volverán a ser los originales.',
                        icon: 'warning',
                        showDenyButton: true,
                        denyButtonText: 'Si, deshacer',
                        confirmButtonText: 'No, cancelar',
                    }).then((result) => {
                        if (result.isDenied) {
                            Swal.fire(
                                '¡Deshecho!',
                                'Los cambios realizados en la tarea "{{ tarea.tarea }} se deshicieron."',
                                'success'
                            )
                            setTimeout(function(){ window.location.href = "{% url 'AppWebHome:detalleTarea' tarea.id_tarea %}"; }, 1500);
                        } else if (result.isConfirmed) {
                            Swal.fire(
                                'Cancelado',
                                'Los cambios en la tarea "{{ tarea.tarea }}" están a salvo :)',
                                'error'
                            )
                        }
                    })
                }

                function actualizarTarea() {
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Actualizar la tarea "{{ tarea.tarea }}" será permanente.',
                        icon: 'warning',
                        showDenyButton: true,
                        confirmButtonText: 'Si, actualizar',
                        denyButtonText: `No, cancelar`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire(
                                '¡Guardado!',
                                'La tarea "{{ tarea.tarea }}" ha sido actualizada.',
                                'success'
                            )
                            setTimeout(function(){ document.forms["formulario-tarea"].submit(); }, 1500);
                        } else if (result.isDenied) {
                            Swal.fire(
                                'Cancelado',
                                'Los cambios no fueron guardados.',
                                'info'
                            )
                        }
                    })
                }

                function borrarTarea() {
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: 'Borrar la tarea "{{ tarea.tarea }}" será permanente.',
                        icon: 'warning',
                        showDenyButton: true,
                        denyButtonText: 'Si, borrar',
                        confirmButtonText: 'No, cancelar',
                    }).then((result) => {
                        if (result.isDenied) {

                            window.location.href = "/borrar-tarea/{{ tarea.id_tarea }}";

                        } else if (result.isConfirmed) {
                            Swal.fire(
                                'Cancelado',
                                'La tarea "{{ tarea.tarea }}" está a salvo :)',
                                'error'
                            )
                        }
                    })

                    
                }
            </script>
        </div>
        <div class="xd">
            
            <div class="tarjeta">
                <div class="tarjeta-imagen"></div>
                <div class="tarjeta-texto">
                    <span class="c-{% if dd >= 7 %}verde{% elif dd < 7 and dd >= 0 %}amarillo{% else %}rojo{% endif %} fs-13px contorno-negro">{{ tarea.usuario_id_usuario.rut }}</span>
                    <h2>{{ tarea.usuario_id_usuario.usuario }}</h2>
                    <p>Correo: {{ tarea.usuario_id_usuario.correo }}</p>
                    <p>Celular: {{ tarea.usuario_id_usuario.celular }}</p>
                    <p>Unidad: {{ tarea.usuario_id_usuario.unidad_id_unidad.unidad }}</p>
                    <p>Jerarquía: {{ tarea.usuario_id_usuario.jerarquia_id_jerarquia.jerarquia }}</p>
                    <p>Rol: {{ tarea.usuario_id_usuario.rol_id_rol.rol }}</p>
                </div>
                <div class="tarjeta-stats sbg-{% if dd >= 7 %}verde{% elif dd < 7 and dd >= 0 %}amarillo{% else %}rojo{% endif %}">
                    <div class="stat left">
                        <div class="value">4<sup>m</sup></div>
                        <div class="type">Tareas</div>
                    </div>
                    <div class="stat border">
                        <div class="value">5123</div>
                        <div class="type">Subordinados</div>
                    </div>
                    <div class="stat right">
                        <div class="value">32</div>
                        <div class="type">Flujos</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="caja-abajo">
        <div class="tarjeta-tabla" style="grid-template-columns: 100%;">
  
            <div class="tarjeta-tabla-titulo sbg-{% if dd >= 7 %}verde{% elif dd < 7 and dd >= 0 %}amarillo{% else %}rojo{% endif %}"><h1>Flujos</h1></div>
    
            <div class="tarjeta-tabla-texto" style="padding: 5px 3%; overflow-y: scroll;">
    
                <table cellpadding="0" cellspacing="0" border="0">
        
                    <thead>
                        <tr>
                            <th class="checkbox"></th>
                            <th class="ID">ID</th>
                            <th class="Nombre">Nombre</th>
                            <th class="Descrip">Descripción</th>
                            <th class="Estado">Estado</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for flujo in flujos %}
                            <tr>
                                {% if tarea.flujo_id_flujo.id_flujo != flujo.id_flujo %}
                                    <td class="checkbox"><input type="radio" name="flujo"></td>
                                {% else %}
                                    <td class="checkbox"><input type="radio" name="flujo" checked></td>
                                {% endif %}
                                <td class="ID">{{flujo.id_flujo}}</td>
                                <td class="Nombre">{{flujo.nombre_flujo}}</td>
                                <td class="Descrip">{{flujo.descripcion}}</td>
                                <td class="Estado">{{flujo.estado_id_estado.estado}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
    
                </table>
  
            </div>
  
        </div>
  
    </div>

{% endblock contenido %}