{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Crear Rol
{% endblock titulo %}

{% block contenido %}

    <link rel="stylesheet" href="{% static 'css/estilo/BGcrud.css' %}">

    <div class="cajon">
                
        <a href="{% url 'AppWebHome:crudRol' %}" style="position:absolute; top:0; right:0;">
            <img class="btn-cerrar-1" id="img-icono-2" src="/static/img/iconos app/volveer.png" alt="imagen para cerrar">
        </a>

        <div class="caja-arriba">
            <div class="tarjeta-form" style="grid-template-rows: 65px 102px 89px;">
                <div class="tarjeta-titulo" style="background-color: rgb(97, 15, 173);"><h2>Crear nuevo rol</h2></div>
                <form method="POST"> {% csrf_token %}
                    <div class="tarjeta-texto">
                        <table style="padding: 25px 8%;">
                            <tbody>
                                <tr>
                                    <td>ID:</td>
                                    <td><input type="number" placeholder="Se registra automáticamente." readonly></td>
                                </tr>
                                <tr>
                                    <td>Nombre Rol: </td>
                                    <td>{{form.rol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tarjeta-botones">
                        <a href="{% url 'AppWebHome:crearRol' %}">
                            <div class="stat left">
                                <img id="img-icono-2" src="/static/img/iconos app/polvo.png" alt="imagen para limpiar campos">
                                <div class="valor">Limpiar</div>
                            </div>
                        </a>
                        <button type="submit" class="stat border">
                            <img src="/static/img/iconos app/creaar.png" alt="imagen para crear" id="img-icono-2">
                            <div class="valor">Agregar</div>
                        </button>
                        <a href="{% url 'AppWebHome:crearRol' %}">
                            <div class="stat right">
                                <img id="img-icono-2" src="/static/img/iconos app/actualizar.png" alt="imagen para ver tareas">
                                <div class="valor">Actualizar</div>
                            </div>
                        </a>
                    </div>
                </form>
            </div>
            <div class="tarjeta-tabla" style="grid-template-columns: 300px;">

                <div class="tarjeta-tabla-titulo" style="background-color: rgb(97, 15, 173);"><h1>Roles</h1></div>
        
                <div class="tarjeta-tabla-texto" style="padding: 5px 10%; overflow-y: scroll;">
        
                    <table cellpadding="0" cellspacing="0" border="0">
            
                        <thead>
                            <tr>
                                <th class="ID">ID</th>
                                <th class="Nombre">Rol</th>
                                <!-- <th>Agregar</th> -->
                                <th>borrar</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            {% for rol in roles %}
                                <tr class="tr1">
                                <td class="td1 ID">{{rol.id_rol}}</td>
                                <td class="td1 Nombre">{{rol.rol}}</td>
                                <!-- <td class="td2" style="padding-left: 20px;">
                                    <button>
                                        <img src="/static/img/iconos/deshacer.png" alt="imagen para agregar a la tabla" id="img-icono-3">
                                    </button>
                                </td> -->
                                <td class="td1" style="width: 40px;">
                                    <a class="a1" href="borrar/{{ rol.id_rol }}">
                                        <img src="/static/img/iconos app/eliminar.png" alt="imagen para eliminar un rol" style="width: 20px;">        
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
            
                    </table>
        
                </div>
        
            </div>
        </div>
    </div>

{% endblock contenido %}