{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Crear Unidad
{% endblock titulo %}

{% block contenido %}
    <div class="cajon">
                
        <a href="{% url 'AppWebHome:crudUnidad' %}" style="position:absolute; top:0; right:0;">
            <img class="btn-cerrar-1" id="img-icono-2" src="/static/img/iconos/cerrar.png" alt="imagen para cerrar">
        </a>

        <div class="caja-arriba">
            <div class="tarjeta-form" style="grid-template-rows: 65px 102px 89px;">
                <div class="tarjeta-titulo" style="background-color: orangered;"><h2>Crear nueva unidad</h2></div>
                <form method="POST"> {% csrf_token %}
                    <div class="tarjeta-texto">
                        <table style="padding: 25px 8%;">
                            <tbody>
                                <tr>
                                    <td>ID:</td>
                                    <td><input type="number" placeholder="Se registra automáticamente." readonly></td>
                                </tr>
                                <tr>
                                    <td>Nombre Unidad: </td>
                                    <td>{{form.unidad}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tarjeta-botones" style="background-color: orangered;">
                        <a href="{% url 'AppWebHome:crearUnidad' %}">
                            <div class="stat left">
                                <img id="img-icono-2" src="/static/img/iconos/limpiar.png" alt="imagen para limpiar campos">
                                <div class="valor">Limpiar</div>
                            </div>
                        </a>
                        <button type="submit" class="stat border">
                            <img src="/static/img/iconos/crear.png" alt="imagen para crear" id="img-icono-2">
                            <div class="valor">Agregar</div>
                        </button>
                        <a href="{% url 'AppWebHome:crearUnidad' %}">
                            <div class="stat right">
                                <img id="img-icono-2" src="/static/img/iconos/actualizar.png" alt="imagen para ver tareas">
                                <div class="valor">Actualizar</div>
                            </div>
                        </a>
                    </div>
                </form>
            </div>
            <div class="tarjeta-tabla" style="grid-template-columns: 300px;">

                <div class="tarjeta-tabla-titulo" style="background-color: orangered;"><h1>Unidades</h1></div>
        
                <div class="tarjeta-tabla-texto" style="padding: 5px 10%; overflow-y: scroll;">
        
                    <table cellpadding="0" cellspacing="0" border="0">
            
                        <thead>
                            <tr>
                                <th class="ID">ID</th>
                                <th class="Nombre">Unidad</th>
                                <!-- <th>Agregar</th> -->
                                <th>borrar</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            {% for unidad in unidades %}
                                <tr class="tr2">
                                <td class="td2 ID">{{unidad.id_unidad}}</td>
                                <td class="td2 Nombre">{{unidad.unidad}}</td>
                                <!-- <td class="td2" style="padding-left: 20px;">
                                    <button>
                                        <img src="/static/img/iconos/deshacer.png" alt="imagen para agregar a la tabla" id="img-icono-3">
                                    </button>
                                </td> -->
                                <td class="td2" style="width: 40px;"><a class="a2" href="borrar/{{ unidad.id_unidad }}">borrar</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
            
                    </table>
        
                </div>
        
            </div>
        </div>
    </div>

{% endblock contenido %}