{% extends 'base.html' %}

{% block titulo %}
    CRUD Unidad
{% endblock titulo %}
    
{% block contenido %}
    {% load static %}

    <div class="cajon">

      <div class="caja-arriba">
        
        <div class="cartas-principales">
          
          <div class="carta-principal oculto"></div>
            
          <div class="carta-principal">
            <a href="{% url 'AppWebHome:crearUnidad' %}" class="button button-1">
              <img id="img-icono" src="/static/img/iconos/nuevaUnidad.png" alt="#"><br><br>Crear Nueva Unidad
            </a>
        
          </div>
          
        </div>
      </div>
      <div class="caja-abajo">

        <div class="tarjeta-tabla" style="grid-template-columns: 300px;">

          <div class="tarjeta-tabla-titulo" style="background-color: rgb(97, 15, 173);"><h1>Unidades</h1></div>

          <div class="tarjeta-tabla-texto" style="padding: 5px 25%; overflow-y: scroll;">

            <table cellpadding="0" cellspacing="0" border="0">

              <thead>
                <tr>
                  <th class="ID">ID</th>
                  <th class="Nombre">Unidad</th>
                </tr>
              </thead>

              <tbody>
                {% for unidad in unidades %}
                  <tr class="tr1">
                    <td class="td1 ID">{{unidad.id_unidad}}</td>
                    <td class="td1 Nombre">{{unidad.unidad}}</td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>

          </div>

        </div>

      </div>

    </div>

{% endblock contenido %}