{% extends 'base.html' %}


{% block titulo %}
    Administrador
{% endblock titulo %}
    

{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/estilo/BGusuarios.css' %}">

<div class="main-header">
    <h1 style="text-align: center;">Hola! Administrador/a {{ user.usuario }}</h1>
    <div class="main-header__heading">¡Hola {{ user.nombres }} {{ user.apellidos }}!</div>
</div>

<div class="cartas-principales">

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:crudJerarquia' %}" class="button button-1">
            <img src="/static/img/iconos app/jerarquia.png" alt="imagen de usuarios" id="img-icono">
            <br>
            CRUD Jerarquias
        </a>
    </div>

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:crudRol' %}" class="button button-1">
            <img src="/static/img/iconos app/roles.png" alt="imagen de usuarios" id="img-icono">
            <br>
            CRUD Roles
        </a>
    </div>

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:crudUnidad' %}" class="button button-1">
            <img src="/static/img/iconos app/unidad.png" alt="imagen de usuarios" id="img-icono">
            <br>
            CRUD Unidades
        </a>
    </div>

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:crudUsuario' %}" class="button button-1">
            <img src="/static/img/iconos app/empleados.png" alt="imagen de usuarios" id="img-icono">
            <br>
            CRUD Usuarios
        </a>
    </div>

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:crudTarea' %}" class="button button-1">
            <img src="/static/img/iconos app/tareas.png" alt="imagen de usuarios" id="img-icono">
            <br>
            CRUD Tareas
        </a>
    </div>

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:crudFlujo' %}" class="button button-1">
            <img src="/static/img/iconos app/flujo.png" alt="imagen de usuarios" id="img-icono">
            <br>
            CRUD Flujos
        </a>
    </div>
</div>
    

    {% endblock contenido %}
    