{% extends 'base.html' %}


{% block titulo %}
    Funcionario
{% endblock titulo %}


{% block contenido %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/estilo/BGusuarios.css' %}">

<div class="main-header">
    <h1 style="text-align: center;">Hola! {{ user.jerarquia_id_jerarquia.jerarquia }} {{ user.usuario }}</h1>
    <div class="main-header__heading">¡Hola {{ user.nombres }} {{ user.apellidos }}!</div>
</div>

<div class="cartas-principales">

    
    {% if user.jerarquia_id_jerarquia.jerarquia == 'Subordinado' %}
        <div class="carta-principal">
            <a href="{% url 'AppWebHome:verTareas' %}?page=1" class="button button-1">
                <img src="/static/img/iconos app/verTarea.png" alt="imagen de tareas" id="img-icono">
                <br>
                Ver Tareas
            </a>
        </div>
    {% else %}
    
        <div class="carta-principal">
            <a href="{% url 'AppWebHome:crudTarea' %}" class="button button-1">
                <img src="/static/img/iconos app/tareas.png" alt="imagen de tareas" id="img-icono">
                <br>
                CRUD Tareas
            </a>
        </div>

        <div class="carta-principal">
            <a href="{% url 'AppWebHome:verUsuarios' %}" class="button button-1">
                <img src="/static/img/iconos app/empleados1.png" alt="imagen de usuarios" id="img-icono">
                <br>
                Subordinados
            </a>
        </div>

    {% endif %}

    <div class="carta-principal">
        <a href="{% url 'AppWebHome:verFlujos' %}" class="button button-1">
            <img src="/static/img/iconos app/flujo.png" alt="imagen de flujos" id="img-icono">
            <br>
            Flujos
        </a>
    </div>

    
    {% if user.jerarquia_id_jerarquia.jerarquia == 'Gerente' %}
        <div class="carta-principal oculto"></div>
        <div class="carta-principal">
            <a href="{% url 'AppWebHome:panelControl' %}" class="button button-1">
                <img src="/static/img/iconos app/analitica.png" alt="Imagen para el panel de control" id="img-icono">
                <br>
                Panel de Control
            </a>
        </div>
    {% endif %}
        

</div>

{% endblock contenido %}
    