{% load static %}

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/Logo-ProcessSA.png' %}">

        <title>Process SA - {% block titulo %}{% endblock titulo %}</title>        

    </head>

    <body>

        <link rel="stylesheet" href="{% static 'css/estilo/estilo.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo/crear.css' %}">
        <link rel="stylesheet" href="{% static 'css/prueba/prueba.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo/cartas.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo/botones.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo/unicos.css' %}">

        <div class="grid-container">

            {% include 'includes/sidenav.html' %}
            {% include 'includes/header.html' %}
            
            <main class="main">
                
                {% block contenido %}
                {% endblock contenido %}
                
            </main>
            
            {% include 'includes/footer.html' %}

        </div>

    </body>

</html>